* {
    margin: 0;
    padding: 0;
}


.navigation {
    height: 55px;
    /*background-color: rgb(247, 230, 250);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 25px;
    display: flex;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 80px;
    font-size: 18px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;

}

.nav-left ul li a:hover {
    color: palevioletred;

}

.nav-right {}

/*html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}*/

.content {
    flex: 1;
    height: 125px;
    background-color: rgb(250, 220, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px
    
}

.content h1 {
    color: rgb(194, 91, 125);
}

.home-articles {
    height: 1500px;
    background: rgb(223, 255, 197);
    padding: 20px
}

.home-articles h2 {
    font-size: 33px;
    margin-bottom: 20px;
    color: #333333;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-article {
    width: 80%;
    min-width: 250px;
}

.home-article p {
    /*margin-top: 0;
    margin-bottom: 20px;*/
    font-size: 18px;
    text-align: left;

}

/*.footer {
    height: 47px;
    background-color: rgb(236, 202, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}*/

.form-input {
    padding: 5px 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid palevioletred;
    margin: 0 13px;
}

.form-box input{
    width: 34vw;
  padding: 10px;
  margin: 10px;
}